<h1 id="projectsHeading">Projects</h1>
<div id="cardsContainer">

  <div class="card">
    <img class="screenshot" src="assets/images/elephantResort.png" alt=" Elphant Resort project screenshot">
    <div class="cardBody">
      <p class="cardTitle">Elephant Resort</p>
      <a href="http://elephantresort.ap-southeast-2.elasticbeanstalk.com/" target="_blank" class="btn">
        Live Preview
      </a>
      <a href="https://github.com/lenzoburger/ElephantResort" target="_blank" class="btn">
        View on Github
      </a>
      <p class="description">Site for booking hotel rooms and booking management</p>
      <p class="techHeading">Technologies Used:</p>
      <ul class="skillsList">
        <li class="skill">Amazon Web Services (AWS)</li>
        <li class="skill">Linux</li>
        <li class="skill">Apache</li>
        <li class="skill">Mysql</li>
        <li class="skill">Php</li>
        <li class="skill">Javascript, JQuery</li>
        <li class="skill">HTML, CSS, XML</li>
      </ul>
    </div>
  </div>

  <div class="card">
    <img class="screenshot" src="assets/images/EthioTrade.png" alt=" Elphant Resort project screenshot">
    <div class="cardBody">
      <p class="cardTitle">Ethio Trade</p>
      <a href="assetsassets/images/EthioTrade.png" target="_blank" class="btn">
        Preview
      </a>
      <a href="https://github.com/lenzoburger/EthioTrade" target="_blank" class="btn">
        View on Github
      </a>
      <p class="description">Web application for buying and selling goods</p>
      <p class="techHeading">Technologies Used:</p>
      <ul class="skillsList">
        <li class="skill">ASP.NET Core 2+</li>
        <li class="skill">Angular 7</li>
        <li class="skill">Entity Framework Core</li>
        <li class="skill">SQLite</li>
        <li class="skill"><a href="https://cloudinary.com/" target="_blank">Cloudinary- Cloud Photo
            Storage</a></li>
        <li class="skill">Node.js</li>
        <li class="skill">HTML/CSS/Bootstrap</li>
      </ul>
    </div>
  </div>

  <div class="card">
    <img class="screenshot" src="assets/images/blank.png" alt=" Elphant Resort project screenshot">
    <div class="cardBody">
      <p class="cardTitle">Searh Engine Automation</p>
      <a href="assets/images/blank.png" target="_blank" class="btn">
        Preview
      </a>
      <a href="https://github.com/lenzoburger/SearchEngineAutomation" target="_blank" class="btn">
        View on Github
      </a>
      <p class="description">Automated Testing of different search engines</p>
      <p class="techHeading">Technologies Used:</p>
      <ul class="skillsList">
        <li class="skill">.NET Framework</li>
        <li class="skill">C#</li>
        <li class="skill">Selenium</li>
        <li class="skill">Batch</li>
        <li class="skill">MSTest Unit Test Framework</li>
        <li class="skill">JSON/CSV</li>
      </ul>
    </div>
  </div>

  <div class="card">
    <img class="screenshot" src="assets/images/blank.png" alt=" Elphant Resort project screenshot">
    <div class="cardBody">
      <p class="cardTitle">Personal Portfolio</p>
      <a href="assets/images/blank.png" target="_blank" class="btn">
        Preview
      </a>
      <a href="https://github.com/lenzoburger/SearchEngineAutomation" target="_blank" class="btn">
        View on Github
      </a>
      <p class="description">Personal Portfolio to diplay porjects</p>
      <div class="projectSkills">
        <p class="techHeading">Technologies Used:</p>
        <ul class="skillsList">
          <li class="skill">Angular 8</li>
          <li class="skill">Node.Js</li>
          <li class="skill">HTML</li>
          <li class="skill">SCSS</li>
          <li class="skill">CSS Grid</li>
          <li class="skill">Bootstrap 4</li>
          <li class="skill">Github Pages</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <img class="screenshot" src="assets/images/blank.png" alt=" Elphant Resort project screenshot">
    <div class="cardBody">
      <p class="cardTitle">Genetic Algorithm Project</p>
      <a href="assets/images/blank.png" target="_blank" class="btn">
        Preview
      </a>
      <a href="https://github.com/lenzoburger/SearchEngineAutomation" target="_blank" class="btn">
        View on Github
      </a>
      <p class="description">Genetic Algorithms</p>
      <p class="techHeading">Technologies Used:</p>
      <ul class="skillsList">
        <li class="skill">JAVA</li>
        <li class="skill">Machine Learning</li>
        <li class="skill">Genetic Algorithm</li>
        <li class="skill">SASS</li>
        <li class="skill">Bootstrap</li>
        <li class="skill">Github Pages</li>
      </ul>
    </div>
  </div>
</div>
