:host {
  display: grid;
  grid-template-rows: minmax(56px, auto) auto;
  place-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  grid-row-gap: 30px;
}

#projectsHeading {
  margin-top: 30px;
  grid-area: 1 / 1;
}

#cardsContainer {
  grid-area: 2 / 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: minmax(400px, auto);
  grid-gap: 20px;
  place-items: center;

  min-height: 100%;
  width: 90%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.card {
  min-width: 300px;
  height: 100%;
  background-color: var(--background);
  color: var(--offWhite);
  border: 2px solid var(--light-grey);
  font-family: "Oxygen Mono", monospace, Arial, Helvetica, sans-serif;
}

.screenshot {
  width: 100%;
  object-fit: cover;
}

.cardTitle {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  margin: 10px;
}

.buttonWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

.button {
  margin: 0.5rem;
}

.cardBody {
  padding: 6px;
  width: 100%;
}

.description {
  margin: 5px;
}

.techHeading {
  margin-left: 5px;
  margin-top: 15px;
  margin-bottom: 0px;
}

.skillsList {
  padding: 0px;
  margin: 5px;
  list-style: none;
  li {
    border: 1px solid var(--background);
    padding: 12px;
    background-color: var(--light-grey);
    width: 100%;
  }
}
