<h1 id="projectsHeading">Projects</h1>
<div id="cardsContainer">
  <div *ngFor="let project of projects" class="card">
    <img class="screenshot" src="{{project.projectImage.src}}" alt="{{project.projectImage.alt}}">
    <div class="cardBody">
      <p class="cardTitle">{{project.title}}</p>
      <div class="buttonWrapper">
        <a href="{{project.projectPreview.url}}" target="_blank"
          class="button btn">{{project.projectPreview.description}}</a>
        <a href="{{project.projectSourceCode.url}}" target="_blank"
          class="button btn">{{project.projectSourceCode.description}}</a>
      </div>
      <p class="description">{{project.description}}</p>
      <p class="techHeading">Technologies Used:</p>
      <ul class="skillsList">
        <li *ngFor="let skill of project.skills" class="skill">{{skill}}</li>
      </ul>
    </div>
  </div>
</div>
