:host {
  display: grid;
  grid-template-rows: 56px auto;
  place-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}

#projectsHeading {
  margin-top: 30px;
  grid-area: 1 / 1;
}

#cardsContainer {
  grid-area: 2 / 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  grid-auto-rows: minmax(400px, auto);
  min-height: 100%;
  width: 90%;
  padding-top: 20px;
  padding-bottom: 20px;
  place-items: center;
  grid-gap: 20px;
}

.card {
  min-width: 300px;
  min-height: 400px;
}

/*** MY WORK SECTION / PROJECT CARDS ***/

// #cardGrid {
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
// }

// .cardContainer {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .card {
//   width: 300px;
//   margin-bottom: 30px;
// }

// .cardTitle {
//   font-size: 1.5rem;
// }

// .cardBody {
//   padding: 6px;
//   width: 100%;
//   border: 2px solid var(--light-grey);
// }

// .projectImageWrapper {
//   width: 300px;
//   height: 300px;
// }

// .screenshot {
//   height: 100%;
//   width: 100%;
// }

// .cardTitle {
//   text-align: center;
//   font-weight: bold;
//   margin: 10px;
// }

// .buttonWrapper {
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
//   margin-bottom: 15px;
//   margin-top: 15px;
// }

// .buttonWrapper .btn {
//   margin: 0.5rem;
// }

// .description {
//   margin-bottom: 15px;
// }

// .skillsList {
//   margin-top: 5px;
//   list-style: none;
// }

// .skillsList li{
//   border: 1px solid var(--background);
//   padding: 12px;
//   background-color: var(--light-grey);
// }
