/*** NAVIGATION ***/
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: var(--main-grey);
  border-bottom: 6px solid var(--gold);
  width: 100%;
  position: fixed;
}

.logo {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.2em;
}

.logo a {
  text-decoration: none;
  color: var(--offWhite);
}

.navLinks {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.navLinks li {
  list-style: none;
}

.navLinks a {
  color: var(--offWhite);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.navLinks li a:hover {
  color: var(--gold);
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: var(--offWhite);
  margin: 5px;
  transition: all 0.4s ease;
}

.navActive {
  transform: translateX(0%) !important;
}

.toggleOpenClose .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggleOpenClose .line2 {
  opacity: 0;
}

.toggleOpenClose .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
