<div id="homeContainer">
  <h1 id="myName">Lencho Burka</h1>
  <p id="myRole">Software Engineer</p>
  <a class="button btn btn-primary slideInLeft" id="projectBtn" [routerLink]="['/projects']">View Projects</a>
  <a class="button btn btn-primary slideInRight" id="resumeBtn" href="assets/resume/LBurkaCV.pdf" target="_blank">View
    Resume</a>

  <div id="iconsContainer">
    <a href="https://github.com/lenzoburger" class="contactIcon bounceInDown" id="githubLink" target="_blank">
      <fa-icon [icon]="['fab', 'github']"></fa-icon>
    </a>

    <a href="https://www.linkedin.com/in/lencho-burka-935b93118/" target="_blank" class="contactIcon bounceInDown"
      id="linkedInLink">
      <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
    </a>

    <a href="mailto:lenzoburger@gmail.com" class="contactIcon bounceInDown" id="emailLink">
    </a>
  </div>

</div>
