<!--*** LANDING ***-->
<section id="landing">
  <div class="landingOverlay">
    <header>
      <h1 id="title">Lencho Burka</h1>
      <p id="subHeading">Software Engineer</p>
      <div class="landingButtons">
        <a href="#myWork" class="btn animated slideInLeft" id="projectBtn">
          View Projects
        </a>
        <a href="../../assets/resume/LBurkaCV.pdf" class="btn animated slideInRight" id="resumeBtn">
          View Resume
        </a>
      </div>
      <ul class="icons">
        <a href="https://github.com/lenzoburger" target="_blank">
          <li class="contactIcon animated bounceInDown" id="githubLink">
              <fa-icon [icon]="['fab', 'github']"></fa-icon>
          </li>
        </a>
        <a href="https://www.linkedin.com/in/lencho-burka-935b93118/" target="_blank">
          <li class="contactIcon animated bounceInDown" id="linkedInLink">
            <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
          </li>
        </a>
        <a href="mailto:lenzoburger@gmail.com">
          <li class="contactIcon animated bounceInDown" id="emailLink">
              <fa-icon [icon]="['far', 'envelope']"></fa-icon>
          </li>
        </a>
      </ul>
    </header>
  </div>
</section>
